doctype html
html(lang="en")
  head
    include ./partials/head.pug

  body
    include ./partials/svg-symbols.svg
    .wrapper
      include ./partials/header.pug
    script(src="scripts/bundle.js")
